* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #290c0c;
    background-repeat: no-repeat;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #15174191;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #8a0b0fb7;
    border-radius: 4px;
}

header {
    background: linear-gradient(180deg, #121335, #2e0708);
    color: #e4e0db;
    line-height: 1.4;
    padding: 25px 0 0;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.inputField {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px;
    font-size: 1.1rem;
    background: transparent;
    padding: 15px 0;
}

input {
    padding: 10px 15px;
    border: none;
    border: 1px solid #8a0b0f;
    background: transparent;
    color: #eafbfc;
    width: 40%;
    border-radius: 20px;
}

input:focus {
    outline: none;
    border: 1px solid #8a0b0f;
}

button {
    padding: 10px 15px;
    border: 1px solid #8a0b0f;
    color: #eafbfc;
    background: transparent;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background: #8a0b0f;
    transition: .3s;
}

#movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 100px 20px;
}

#movies .movie {
    margin: 15px 0;
    box-shadow: 0 0 10px #00000080;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background: #121335;
    color: #eafbfc;
}

#movies .movie:hover {
    transform: translateY(-5px);
    transition: .3s;
}

#movies .movie img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    max-height: 350px;
}

#movies .movie p {
    margin: 10px;
}

#movie-detail {
    background: #4138387e;
    color: #eafbfc;
    padding: 20px;
    max-width: 1000px;
    width: 90%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 13%;
    display: flex;
    align-items: start;
    gap: 30px;
}

#movie-detail #main-content {
    margin-top: 20px;
}

#movie-detail img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}
#movie-detail h2{
    margin-bottom: 20px;
}

#movie-detail p {
    font-size: 16px;
    margin-bottom: 10px;
}
#movie-detail button{
    position: absolute;
    bottom: 50px;
}

@media screen and (max-width:768px) {
    #movies {
        padding: 0 30px 20px;
        gap: 10px;
    }

    #movies .movie p {
        margin: 5px;
        font-size: 10px;
    }
}